$body: #FBF0EB;
$lightPink: #e7717d;
$lightGreen: #afd275;
$greyHover: #c2cad0;
$white: #fff;
$black: #000;
$red: red;
$brown: #202020;
$cream: #E2E2E2;
$priceRed: #f24029;
$favRed: #f24029;
$favRedHover: #f86f5d;
$grey: #818181;
$fontColor: #2c3e50;
$overlay: rgba(255, 255, 255, 0.5);
$boxShadow:rgba(0, 0, 0, 0.48);
$grayTextColor: #74746c;
$productBackground: #FFF9F9;